body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
   
}


:root{
    --primary-color: #003366;
    --secondary-color: #66CCFF;
    --accent1-color: #5357d3;
    --accent2-color: #006400;

    
    --heading-font: 'Times New Roman', serif;
    --paragraph-font: Arial, sans-serif;

    --nav-background-color: #FFFFFF; /* White */
    --nav-link-color: #000000; /* Black */
    --nav-hover-link-color: #FF0000; /* Red */
    --nav-hover-background-color: #D3D3D3; /* Light Gray */


}
h1,h2,h3,h4,h5,h6 {
    font-family:var(--heading-font);
    color:var(--primary-color);
}
header{
    padding:20px;
    background-color:var(--accent1-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color:var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color:var(--nav-link-color);
}
nav a:hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}