* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  h1 {
    color: steelblue;
    border-bottom: 2px solid steelblue;
    padding-bottom: 10px;
    
  }
  
  aside h2 {
    position: absolute;
    left: 125px;
    top: 1%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  
  main img {
    float: right;
  }
  
  p {
    padding: 0;
  }
  
  main {
    max-width: 840px;
    padding-bottom: 1.5rem; 
    padding-top: 1rem;
  }
  
  aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
  }
  
  aside img {
    width: 200px;
    height: auto;
  }
  
  main img {
    width: 155px;
    height: auto;
    float: right;
  }
  /* Class Selector */

  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;
  }
  
  .grid main {
    grid-column: 2/3;
    margin: 1rem;
  }
  
  .grid aside {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
  }
  
  header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
  }
  
  footer {
    border-top: 1px solid #0a0101; 
    padding-top: 1rem;
  }